#graphic {
  margin: 0 auto;
}

svg {
  background: #E7E0CB;
}

#tool-tip {
  position: absolute;
  padding: 0 10px;
  background: #fff;
  opacity: 0;
}

circle {
  cursor: pointer;
}

path {
  fill: none;
  stroke: #000;
}

.headline {
  font-size: 1em;
  text-decoration: underline; 
}

.axis {
  line {
    stroke: #000; 
  }
}